function sys.min 0
    push argument 0
    push argument 1
    pop temp 1
    pop temp 0
    push temp 0
    push temp 1
    lt
    if-goto small
    goto big
label small
push argument 0 
return
label big   
push argument 1
return


function Sys.max 0
	push argument o
	push argument 1
	pop temp 1
	pop temp 0
	push temp 0
	push temp 1
	gt
	if-goto big
	goto small
label small
push argument 1
return
label big
push argument 0
return

function Sys.range 2
  push argument 1
  push constant 1
  lt
  if-goto ZERO
  push argument 0
  pop pointer 0
  push argument 1
  push constant 1
  sub
  pop temp 9
  push constant 16383
  pop temp 2
  push constant 16383
  neg
  pop temp 3
  push constant 0
  pop temp 10
LABEL LOOP
  push temp 10
  push temp 9
  gt
  if-goto LOOP_END
  push this 0
  push temp 2
  call Sys.min 2
  pop temp 2
  push temp 2
  push this 0
  eq
  not
  if-goto NEW_MAX
  goto CONTINUE_LOOP
LABEL NEW_MAX
  push this 0
  push temp 3
  call Sys.max 2
  pop temp 3
LABEL CONTINUE_LOOP
  push pointer 0
  push constant 1
  add
  pop temp 10
  goto LOOP
LABEL LOOP_END
  push temp 3
  push temp 2
  sub
  return
LABEL ZERO
  push constant 0
  return

function Sys.init 0
  call Sys.range 2
LABEL WHILE
  goto WHILE
