function Sys.min 0
    push argument 0
    push argument 1
    pop temp 1
    pop temp 0
    push temp 0
    push temp 1
    lt
    if-goto mini
    goto notmin
	push constant 2
	pop local 2

label mini
push argument 0 
return

label notmin
push argument 1
return


function Sys.max 0
	push argument 0
	push argument 1
	pop temp 1
	pop temp 0
	push temp 0
	push temp 1
	gt
	if-goto big
	goto small



label big
push argument 0
return

label small
push argument 1
return 



function Sys.range 2
	push constant 0
	pop temp 7
	push argument 0 
	pop pointer 0
	push argument 1
	push constant 1
	gt
	not 
	if-goto ZERO
	push argument 1
	push constant 1
	sub
	pop temp 6
	push constant 16383
	pop temp 2
	push constant 16383
	neg
	pop temp 3
	goto LOOP


label LOOP
push temp 7
push temp 6
gt
if-goto END 
push this 0
push temp 2
call Sys.min 2
pop temp 2
push temp 2 
push this 0
eq
not 
if-goto maxi
goto continue
label maxi
push this 0 
push temp 3
call Sys.max 2
pop temp 3
goto continue 
label continue
push pointer 0
push constant 1
add
pop pointer 0
push temp 7
push constant 1
add
pop temp 7
goto LOOP

label ZERO
push constant 0
return


label END
push temp 3
push temp 2
sub
return

function Sys.init 0
	call Sys.range 2
label WHILE
	goto WHILE